#my-profile-pic {
  border-radius: 50%;
  width: 150px;
}

.text-justify {
  text-align: justify;
}

nav {
  background-color: #325079;
}

.nav-active-bg{
  background-color: #0d6efd;
}

.nav-font-color {
  color: #ffffff;
}

.custom-toggler.navbar-toggler {
    border-color: #ffffff;
}

.custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
  background-color: #e5edef;
  font-family:  'Nunito', sans-serif;
}
